*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bg-color: #080808;
$white-color: #f3f3f3;
$gray-color: #1a1a1a;

body, html{
    width: 100%;
    height: auto;

    background-color: $bg-color;
    color: $white-color;
    font-family: 'General Sans', sans-serif;
    
    transition: 0.3s;
}

body{
    display: flex;
    flex-direction: column;
}

@mixin circle-dot($color, $width, $height){
    width: $width;
    height: $height;
    position: relative;

    border: none;
    border-radius: 50%;
    background-color: $color;
}

@keyframes fadeout{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

a{
    text-decoration: none;
}

header{
    .content{
        position: fixed;
    }
}

header{
    .content{
        .button-theme{
            width: 5rem;
            height: 2.3rem;

            padding: 0.5rem 0.5rem;
            border: 0.1rem solid $white-color;

            border-radius: 1rem;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            .circle{
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;

                background-color: $white-color;
                position: relative;

                animation: moveCirclereverse 0.5s;
            }
            @keyframes moveCircle{
                from{
                    left: 0%;
                } to{
                    left: 65%;
                }
            }
            @keyframes moveCirclereverse{
                from{
                    left: 65%;
                } to{
                    left: 0%;
                }
            }
            
        }

        .button-theme:hover{
            cursor: pointer;
        }

        #button-theme.active{
            background-color: $white-color;
            border-color: $bg-color;

            .circle{
                background-color: $bg-color;
            }
        }
    }
}

header{
    width: 100%;
    height: 12vh;

    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 95%;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 2rem;
        .btn-lang{
            border-radius: 0.6rem;

            button{
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.3rem;

                font-family: 'General Sans', sans-serif;
                font-size: 20px;
                font-weight: 600;

                padding: 0.5rem 1.2rem;

                border-radius: 0.5rem;
                border: 0.1rem solid $white-color;
                background-color: #080808;

                transition: 0.3s;

                color: $white-color;

                i{
                    font-size: 20px;
                }
            }
            button:hover{
                cursor: pointer;
                background-color: $white-color;
                color: $bg-color;
            }
        }
    }
}

#bg-circle.active{
    background-color: #f3f3f3;
}

main{
    width: 100%;
    height: 88vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content{
        padding-bottom: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        text-align: center;

        .info-content{
            margin-top: -1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .username{
                display: flex;
                justify-content: center;
                h2{
                    width: 30%;
                }
                h2:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            p{
                color: #bbbbbb;
                font-size: 15px;
            }
        }
    }
}

.content{
    .rect-link{
        border: 0.1rem solid $white-color;
        border-radius: 0.5rem;

        height: 3.5rem;
        width: 16rem;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.2s;

        .container-info{
            text-align: start;
            width: 90%;

            position: relative;

            color: #bbbbbb;

            h3{
                display: flex;
                align-items: center;
                gap: 0.4rem;

                font-weight: 600;
                font-size: 16px;

                position: relative;

                i{
                    font-size: 22px;
                }
            }
        }
    }
    @mixin hover-rect($par_border_color){
        cursor: pointer;
        scale: 1.1;
        background-color: $gray-color;
        border-color: $par_border_color;
        color: $par_border_color;
    }
    #linkedin:hover{
        @include hover-rect(#448bb4);
    }
    #github:hover{
        @include hover-rect(#694de2);
    }
    #cv:hover{
        @include hover-rect(#e3e65d);
    }
}

.content{
    .circles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.8rem;

        #red{
            @include circle-dot(#da4d4d, 1rem, 1rem);
            animation: moveDot 0.8s infinite;
            animation-delay: 250ms;
        }
        #yellow{
            @include circle-dot(#e3e65d, 1rem, 1rem);
            animation: moveDot 0.8s infinite;
            animation-delay: 100ms;
        }
        #green{
            @include circle-dot(#5fe65f, 1rem, 1rem);
            animation: moveDot 0.8s infinite;
            animation-delay: -50ms;
        }

        @keyframes moveDot{
            0%{
                bottom: 0rem;
            }
            50%{
                bottom: 0.5rem;
            }
            100%{
                bottom: 0rem;
            }

        }
    }
}

.content{
    .status{
        display: flex;
        justify-content: flex-start;

        height: 0rem;
        position: relative;
        top: 3.2rem;
        left: 0.2rem;
        .container-status{
            display: flex;
            justify-content: center;
            align-items: center;
            .bg-circle{
                background-color: $bg-color;
                width: 3rem;
                height: 3rem;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                border: none;

                position: relative;
                left: 1.5rem;
                transition: 0.3s;
            }
            #status-ball{
                @include circle-dot(#5fe65f, 2rem, 2rem);
            }

        }
    }
    .user-photo{
        img{
            width: 12rem;
    
            border-radius: 50%;
        }
    }
}

#status-ball{
    .tooltip{
        visibility: hidden;

        position: relative;
        left: 2.5rem;
        bottom: 1rem;

        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $gray-color;
    }
}

#status-ball:hover > .tooltip{
    visibility: visible;
    animation: fadein 0.3s;

    @keyframes fadein{
        from{
            opacity: 0.5;
        } to {
            opacity: 1;
        }
    }
}

.content-coppied{
    display: flex;
    justify-content: flex-end;

    .rect-coppied{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        padding: 1rem 1rem;

        margin: 0.5rem 1rem;
        border: 0.1rem solid $white-color;
        border-radius: 0.5rem;

        background-color: $gray-color;

        position: fixed;
        bottom: 0.5rem;
        right: 0rem;
        visibility: hidden;

        h4{
            font-weight: 500;
        }
    }

    #coppied.showCoppied{
        visibility: visible;
        -webkit-animation: moveLeft 0.5s, fadeOut 0.5s 2.5s;
        animation: moveLeft 0.5s, fadeOut 0.5s 2.5s;
    }

    @keyframes moveLeft{
        from{
            right: -15rem;
            opacity: 0.5;
        } to{
            right: 0rem;
            opacity: 1;
        }
    }

    @keyframes fadeOut{
        from{
            opacity: 1;
        } to{
            opacity: 0;
        }
    }
}

img, p, h4{
    user-select: none;
}

.loading{
    width: 100%;
    height: 100vh;

    user-select: none;

    display: flex;
    align-items: center;
    padding-left: 6rem;

    font-size: 64px;

    position: fixed;

    background-color: #080808;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 1rem;

    .container-text{
        display: flex;
        flex-direction: row;
    }

    .bar-loading{
        width: 0%;
        height: 0.2rem;
        background-color: $white-color;  
    }

    #bar-loading.complete{
        animation: shadow_bar 0.2s;
    }
    @keyframes shadow_bar{
        from{
            box-shadow: 0rem 0rem 0rem $white-color, 0rem -0rem 0rem $white-color;
        } to{
            box-shadow: 0rem 0.1rem 0.2rem $white-color, 0rem -0.1rem 0.2rem $white-color;
        }
    }

    .bar-base{
        width: 80%;
        height: 0.2rem;
        background-color: $gray-color;
    }

}

#loadingBg.fadeOut{
    animation: fadeOutBg 0.8s forwards;
}

@keyframes fadeOutBg{
    from{
        opacity: 1;
    } to{
        opacity: 0;
        visibility: hidden;
    }
}

// Light theme
body.active{
    background-color: $white-color;
    color: $bg-color;
    #coppied{
        color: $white-color;
    }

    #dot-move{
        left: 65%;
        animation: moveCircle 0.5s;
    }

    .btn-lang button{
        background-color: $white-color;
        border-color: $bg-color;
        color: $bg-color;
    }
    .btn-lang button:hover{
        background-color: $bg-color;
        color: $white-color;
    }

    .rect-link{
        border-color: $bg-color;
        span, i{
            color: $bg-color;
        }
    }

    #linkedin:hover{
        span, i{
            color: $white-color;
        }
    }

    #github:hover{
        span, i{
            color: $white-color;
        }
    }

    #cv:hover{
        span, i{
            color: $white-color;
        }
    }

    .container-status{
        #status-ball{
            #status-text{
                color: $white-color;
            }
        }
    }

    #real-name{
        color: #1a1a1a;
    }
}